body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px
}
h2{
    font-size: 40px;
}

.orange-view{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width {
    text-align: justify;
    width: 50%;
    padding-left: 5%;
    
    
}
#dream{
    padding-right: 10%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    

}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 10px 10px 40px gray;
    
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#web-developer-experience{
    text-align: justify;
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
#full-stack-experience{
    text-align: justify;
    border-left: 7px solid;
    border-image: linear-gradient(purple, tomato);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}